.App {
  background: url('./images/background.jpg') no-repeat center center fixed;
  background-position: 'center';
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}

.data-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.data-inner-container-one {
  text-align: center;
}

.data-container img{
  height: 100px;
}

input {
  display: flex;
  width: 45%;
  margin: 0 auto;
  padding: 15px;
  outline: none;
  border: none;
  font-size: large;
}

@media only screen and (max-width:800px) {
  .data-container {
    width: 70%;
  }
  input {
    font-size: medium;
  }
}

@media only screen and (max-width:550px) {
  .data-container {
    width: 80%;
  }
  input {
    width: 70%;
  }
}

@media only screen and (max-width:450px) {
  .data-container img{
    height: 80px;
  }
  .data-container {
    font-size: small;
  }
}

@media only screen and (max-width:350px) {

  .data-container {
    justify-content: space-between;
  }

}